@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-6">
        <h2>Dynamic vs. Strongly Typed Views</h2>
        <p>This application demonstrates the difference between Strongly Typed and Dynamic Views in an ASP.NET MVC app.
        The following pages are coded two different ways, one strongly typed, and the other dynamic.
        </p>
        
        <ul>
            <li><a asp-area="" asp-controller="Home" asp-action="StronglyTypedIndex">Strongly Typed</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="IndexNotStronglyTyped">Dynamic</a></li>
        </ul>
    </div>
</div>
