@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>My first ASP.NET Core Web App! running on Microsoft Azure!<br>Created by Randy Powell for course CT 406!</p>
